:root {
    --blue: #0569d7;
    --white: #ffffff;
    --black: #001427;
    --orange: #ff6700;
    --body-text: #333333;
    --footer-text: #C0BEBE;
    --star: #d6d171;
    --body-bg: #ececf4;
}